<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Vehicle maintenance is an ongoing issue that can cost thousands of dollars if not kept up on. Kombustion reminds you of those maintenance intervals, many of which you might not have ever thought about. Save money by keeping up on maintenance. 
</p>

