<% provide(:title, "Contact") %>
<div class="col-lg-12">
    <h1 class="page-header">Contact</h1>
</div>
<p>
  Contact Kombustion at 
  <a href="http://www.janikknittle.com/contact">contact section</a>.
</p>