<% provide(:title, 'Sign up') %>

<div class="wow fadeInRight" data-wow-delay="0.3s">
  <div id="login-overlay" class="modal-dialog with-padding">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Signup for Kombustion</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-12">
                    <%= form_for(@user) do |f| %>
                      <%= render 'fields', f: f %>
                    <%= f.submit "Create my account", class: "btn btn-success btn-block" %>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>