<div class="center jumbotron">
    <h1>Welcome to Kombustion</h1>

    <h2>
      The new wave in car spotting. Stuff. 
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
