$gray: #555555;
$gray-light: #777777;
$gray-lighter: #777775;
$gray-medium-light: #eaeaea;
$gray-darker: #555555;

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*-- Profile Widget --*/
#profile-widget .panel-heading {
    min-height: auto;
    padding: 0px !important;
}
#profile-widget .media-heading {
    color: #5B5147;
}
#profile-widget .panel-body {
    padding: 20px;
    background-color: #F0F0F0;
}
#profile-widget .panel-body .img-circle {
    height: 90px;
    width: 90px;
    padding: 8px;
    border: 1px solid #e2dfdc;
}
#profile-widget .panel-footer {
    padding: 0px;
    border: none;
}
#profile-widget .panel-footer .btn-group .btn {
    border: none;
    font-size: 1.2em;
    background-color: #F6F1ED;
    color: #BAACA3;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 15px 0;
}
#profile-widget .panel-footer .btn-group .btn:hover {
    color: #F6F1ED;
    background-color: #8F7F70;
}
#profile-widget .panel-footer .btn-group>.btn:not(:first-child) {
    border-left: 1px solid #fff;
}
#profile-widget .panel-footer .btn-group .highlight {
    color: #E56E4C;
}

.ride-image {
  width: 100%;
  height: auto;
}