<div class="col-sm-6 col-md-4 ">
         <div id="profile-widget" class="panel">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
               <div class="media">
                  <a class="pull-left" href="#">
                  <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/flashmurphy/128.jpg">
                  </a>
                  <div class="media-body">
                     <h2 class="media-heading"><%= ride.name %></h2>
                     <%= ride.year %><%= ride.make %><%= ride.model %>
                  </div>
               </div>
            </div>
            <div class="panel-footer">
               <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" role="button"><i class="fa fa-eye"></i> 172</a>
                  <a class="btn btn-default" role="button"><i class="fa fa-comment"></i> 34</a>
                  <a class="btn btn-default highlight" role="button"><i class="fa fa-heart"></i> 210</a>
               </div>
            </div>
         </div>
</div>