<% provide(:title, "Explore Rides") %>
<div class="col-lg-12">
    <h1 class="page-header">Explore Rides</h1>
</div>

<ul class="row">
    <%= render partial: "explore", collection: @explores %>
</ul>