<nav class="navbar navbar-custom navbar-fixed-top transparent-nav" role="navigation">
    <div class="container navigation">
	
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand"><%= link_to image_tag("kombustion.io.png", :alt => "Image Description", width:'150', height:'40' ), root_path %></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		  <ul class="nav navbar-nav">
			<li><div id="cart"></div></li>
			<li><%= link_to "HOME", root_path %></li>
			<li><%= link_to "EXPLORE", rides_path %></li>
			<li><%= link_to "LOGIN", login_path %></li>
		  </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
	